.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem 1.75rem;
}

.cards > ul > li {
  flex: 1 1 312px;
  border-radius: 0.25rem;
  background-color: var(--background-color);
  box-shadow: 0 4px 12px -3px rgba(0 0 0 / 5.1%), 0 2px 5px 0 rgba(0 0 0 / 14.1%);
}

@media (width >= 700px) {
  .cards > ul > li {
    max-width: 312px;
  }
}

.cards .cards-card-body {
  margin: 1.5rem;
}

.cards .cards-card-body h3 {
  font-size: var(--body-font-size-m);
  font-weight: 500;
}

.cards .cards-card-body .button {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: var(--link-color);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}
